[mysqldump_master]
user=root
password=your_password
host=127.0.0.1
protocol=tcp
port=33060
default-character-set=utf8
lock-tables=false
#no-tablespaces=true

[mysql]
user=root
password=your_password
host=127.0.0.1
protocol=tcp
port=33060
default-character-set=utf8
lock-tables=false
#no-tablespaces=true
